* {
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  width: 100%;
  background-image: url(../image/Download\ premium\ vector\ of\ Blank\ floral\ golden\ frame\ mobile\ phone\ wallpaper\ vector\ by\ Ning\ about\ wallpaper\,\ mobile\ wallpaper\,\ iphone\ wallpaper\,\ background\,\ and\ rose\ 1223123.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  text-align: center;
  padding-bottom: 50px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.466);
}
@media (max-width: 480px) {
  p{
  margin-bottom: 50px;
  
  }
      h1{
  color: yellow;
  font-size: 25px;
  margin-top: 110px;
      }
  body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  margin-bottom: 600px;
  }
    }