*{
    padding: 0%;
    margin: 0%;
}



body {
   background: #111;
   font-family: 'Open Sans', sans-serif;
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.cta-background {
   background-size: cover;
   background-position: center center;
   bottom: 0;
   filter: blur(50px);
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   width: 100%;
   z-index: -1;
}

.container {
   align-items: center;
   display: flex;
   justify-content: center;
  
}


.cta {
   border-radius: 20px;
    background: #333;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 300px;

    &:hover {
       
       img {
          top: -10%;
          filter: brightness(70%);
       }
       
       .text {
          bottom: 100px;
       }
    }
    
    img {
       bottom: 0;
       filter: brightness(100%);
       left: 0;
       position: absolute;
       right: 0;
       top: 0;
       transition: 0.5s ease-in-out;
       width: 120%;
    }
    
    .text {
       bottom: -40%;
       padding: 15px;
       position: absolute;
       transition: 0.5s ease-in-out;
 
       h2 {
          color: #fff;
          display: inline-block;
          font-weight: 300;
          margin-bottom: 50px;

       }
       
       p {
          color: #fff;
          font-weight: 300;
       }
    }





}




#pic11{


   filter: brightness(100%);

   position: absolute;

   transition: 0.5s ease-in-out;
   width: 300px;

}

#pic22{


   filter: brightness(100%);
 
   position: absolute;
  
   transition: 0.5s ease-in-out;
}



